[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

flake8 = "==3.5.0"
pytest = "==3.9.1"
twine = "==1.12.1"


[requires]

python_version = "3.6"


[packages.beancount-ing-diba]

editable = true
path = "."
